nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 8px;
  margin: 0 10px;
  border-bottom: 1px solid #dadce0;
  color: #5f6368;
}

.logo-area,
.settings-area,
.profile-actions-area {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.2rem;
}

.search-area {
  display: flex;
  align-items: center;
  width: 692px;
  height: 48px;
  background: #f1f3f4;
  border-radius: 8px;
}

.search-area input {
  width: 95%;
  height: 100%;
  margin-left: 10px;
  font-size: 1rem;
  border: none;
  background: inherit;
}

.search-area span {
  margin-left: 10px;
}

input:focus {
  outline: none;
}