.tooltip {
    position: relative;
  }
  
  .tooltip-text {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #323232;
    color: white;
    font-size: 0.78rem;
    opacity: 0.8;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
  
  .material-icons-outlined {
    font-size: 1.2rem;
  }